.filled svg {
  fill: var(--primary);
}

.starBlock {
  display: inline-block;
}

.star svg {
  margin-right: 5px;
}

.editable svg {
  cursor: pointer;
}

.errorMessage {
  color: var(--red);
  display: block;
}

.error svg {
  stroke: var(--red);
}